DISCORD_TOKEN=DISCORD_TOKEN
GITHUB_TOKEN=GITHUB_TOKEN

# CONFIGURAÇÃO DE REPOSITÓRIOS
AUTO_DISCOVER_REPOS=true
#GITHUB_ORG=John
#GITHUB_PROJECT_NUMBER=1

# FALLBACK OU MODO MANUAL (MÁX 25)
# Ex: GIT_REPOS={"Backend": "John/backend", "Frontend": "John/frontend"}
GIT_REPOS={}
